@-moz-document 
domain("stackoverflow.com"), 
domain("stackexchange.com"), 
domain("askubuntu.com"), 
domain("superuser.com"), 
domain("serverfault.com"), 
domain("stackapps.com")
{
  .popup.popup-snippet
  {
    position: fixed !important;
    top: 2.5% !important;
    left: 2.5% !important;
  }
}
